
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
    margin-top: 130px;
    /* align-items: center;  */
    /* justify-content: center; */
    /* gap: 30px; */
}
/* dark 02 */
.text-gray{
    color:#424242 ;
}
/* dark 03 */
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1); 
  
}
.btn-primary{
    background-color: #FF900E;
    text-align: center;
    color: white;
    padding: 20px 25px;
   font-size: 1.25rem;
   font-weight: 600;
   border-radius: 8px;
   border: none;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    text-align: start;
}

/* header styles */


/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center; 
}

.banner{
    font-weight: 700;
    font-size: 3rem;
}

.nav-item{
    /* display: flex;
    justify-content: space-between; */
    list-style: none;
    margin-right: 30px;
    /* text-decoration: none; */
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related styles */
.banner-content{
    /* background-color: red; */
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}
.banner-image{
    width: 100%;
}
/* team and feature related styles */
.teams{
    gap: 24px;
    width: 100%;
    /* background-color: #424242; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.our-features{
  text-align: center;
  justify-content: center;
    /* background-color: aqua; */
     margin:  auto 0; 
     padding: 40px;
    gap: 50px;

}
.our-features{
    text-align: start;
}

#quick{
color: #727272;
}
#our{
    color: #131313;
}
#fea{
    color: #FF900E;
}
.text-light-gray{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    margin-bottom: 20px;
}

/* features section related styles */
#feature-section-title{
    border-left: 5px solid #FF900E;
    text-align: left;
    padding-left: 30px;
}
.feature-card .feature-title{
    font-size: 1.25rem;
    font-weight: 600;
    
}
.feature-card{
   padding-left: 30px;
   gap: 100px;
   box-shadow: 5px 5px 5px 5px #f1f0f0;
   margin-bottom: 90px;
   border-radius: 8px;
}
.features{
    gap: 100px;
}
#experience-badge{
    padding: 42px;
    margin-top: -100px;
    margin-left: -70px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.featured-architect img{
    width: 100%;
}

/* some facts related styles */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* flex-wrap: wrap; */
}
.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 241px;
    height: 241px;
    /* display: flex; */
     text-align: center; 
     justify-content: center; 
    align-items: center; 
}
.fact-number{
    /* background-color: aqua; */
    font-size: 2.8rem;
    font-weight: 600;
    margin: 5px 5px;
}
.fact-name{
    color: rgba(114, 114, 114, 1);
    font-size: 1.25rem;
    margin: 10px;
}
.fact-description{
    max-width: 540px;
}
/* sponsor related styles */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
     text-align: center; 
}
.section-title{
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}

/* responsive media query */
.food-para{
   
    background-color: #FFF4E7;
    /* border: 1px solid red; */
    color: #424242;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
   width: 1440px;
   margin: 0 auto;
   padding: 50px;
   border-radius: 10px;
   
 
 
}
footer{
margin-top: 130px; 
/* margin: 0 auto; */
}

@media screen and (max-width:576px){
    .navbar,
    .nav-links,
    .features,
    .display-flex
    {
        flex-direction: column;
        /* margin: 0 auto; */
      
    } 
    .teams,.facts-container{
       /* margin-left: 100px; */
       /* width: 550px; */
         grid-template-columns: repeat(1,1fr); 
        flex-direction: column;  
    }
    .sponsor-companies{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        gap: 80px;
        
    }
    
    .facts-container,.teams,.sponsor-companies{
        justify-items: center;
    }
    #experience-badge{
       margin-top: 20px;
       margin-left: 50px;
    }
    .food-para{
        width: 100%;
    }
 
}


@media screen and (min-width:576px) and (max-width:992px) {

    .display-flex,.features{
        flex-direction: column;
       
    }
    .teams{
     margin-left: 50px;
    }
    .sponsor-companies,.facts-container,.teams,.features{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
        justify-items: center;
    }
    #experience-badge{
       margin-top: 20px;
       margin-left: 250px;
    }
       .food-para{
        width: 100%;
    }
}